@charset "UTF-8";

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color: rgb(81, 81, 175);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18pt;

}

header{
    text-align: center;
    font-size: 24pt;
    padding: 25px;
    color: white;
}

section{
    background-color: white;
    border-radius: 23px;
    padding: 25px;
    text-align: center;
    width: 500px;
    height: 500px;
    margin: auto;
    border: 2px solid black;
    box-shadow: 5px 3px 3px rgba(0, 0, 0, 0.288);
}

div{
    padding: 24px;
}

footer{
    font-size: 14pt;
    color: white;
    text-align: center;
    font-style: italic;
    margin-top: 50px;
}